<!-- categories card -->
<div class="trm-blog-categories trm-scroll-animation">
    <h6>
        <%- name %>
        <span class="trm-number">
            <%= length %>
        </span>
    </h6>
    <div class="trm-divider trm-mb-20 trm-mt-20"></div>
    <a href="<%- url_for(path) %>." class="trm-label">
        <%- __('title.more') %> 
        <%- icon(theme.icons.next, 'arrow-right') %>
    </a>
</div>
<!-- categories card end -->