<div class="trm-fixed-container">
    <% if(is_post() && theme.rightside.readmode) { %>
        <div class="trm-fixed-btn" data-title="<%- __('rightside.readmode_title') %>" onclick="asyncFun.switchReadMode()">
            <%- icon(theme.icons.read) %>
        </div>
    <% } %>
    <% if(theme.rightside.aside && !page.single_column) { %>
        <div class="trm-fixed-btn" data-title="<%- __('rightside.aside') %>" onclick="asyncFun.switchSingleColumn()">
            <%- icon(theme.icons.arrows) %>
        </div>
    <% } %>
    <div id="trm-back-top" class="trm-fixed-btn" data-title="<%- __('rightside.back_to_top') %>">
        <%- icon(theme.icons.back_top) %>
    </div>
</div>