<!-- menu -->
<div class="trm-menu">
    <nav>
        <ul>
            <% theme.top_bars.forEach(element=> { %>
            <li class="menu-item-has-children <%= url_for(element.url) + 'index.html' === url_for(path) ?'current-menu-item':'' %>">
                <a <%- element.noswup ? "data-no-swup":"" %> href="<%- url_for(element.url) %>" target="<%- element.target %>">
                    <%-__(element.title)%>
                </a>
                <% if(element.children) { %>
                <ul>
                    <% element.children.forEach(item=> { %>
                    <li>
                        <a <%- item.noswup ? "data-no-swup":"" %> href="<%- url_for(item.url) %>" target="<%- item.target %>">
                            <%-__(item.title)%>
                        </a>
                    </li>
                    <% }) %>
                </ul>
                <% } %>
            </li>
            <% }) %>
        </ul>
    </nav>
</div>
<!-- menu end -->