<!-- categories -->
<div class="row hidden-sm">
    <%  site.categories.data.forEach((item,index) => { 
        if(index<2) { 
    %>
    <div class="col-lg-6">
        <!-- categories card -->
        <div class="trm-blog-categories trm-scroll-animation" data-scroll data-scroll-offset="40">
            <h6>
                <%- item.name %>
                <span class="trm-number">
                    <%= item.posts.length %>
                </span>
            </h6>
            <div class="trm-divider trm-mb-20 trm-mt-20"></div>
            <a href="<%- url_for(item.path) %>." class="trm-label">
                <%- __('title.more') %> 
                <%- icon(theme.icons.next) %>
            </a>
        </div>
        <!-- categories card end -->
    </div>
    <% }
        }) %>
</div>
<!-- categories end -->

<!-- newest publications -->
<div class="row">
    <div class="col-lg-12">
        <!-- title -->
        <h5 class="trm-mb-40 trm-title-with-divider">
            <%-__('title.new_publish')%> 
            <span data-number="01"></span>
        </h5>
    </div>
    <% page.posts.each(function(post,postIndex){ %>
        <%- partial('../post/post-card',{ post }) %>
    <% }) %>
</div>
<!-- newest publications end -->

<%- partial('../../_widget/paginator') %>