<%- partial('../post/post-info') %>
<div class="trm-card ">
    <%- partial('../post/post-content') %>
    <%- partial('../post/reward') %>
</div>
<%- partial('../post/post-next-prev') %>
<%- partial('../../_widget/comment',{ titleHide: false }) %>