<div class="trm-content-start">

    <!-- banner -->
    <%- partial('./_partial/banner',  {
        ...theme.banner.default,
        bannerTitle: page.title,
        bannerText: 'NEWS LETTER'
    }) %>
    <!-- banner end -->

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <!-- main card -->
                <%- partial('./_partial/sidebar') %>
                <!-- main card end -->
            </div>
            <div class="col-lg-8">
                <!-- content -->
                <div class="trm-content" id="trm-content">
                    <div data-scroll data-scroll-repeat data-scroll-offset="500" id="about-triger"></div>
                    
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="trm-card trm-label trm-label-light text-center"><i class="far fa-calendar-alt trm-icon"></i><br>
                                <%= date(page.date,'MM/DD') %>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="trm-card trm-label trm-label-light text-center"><i class="far fa-clock trm-icon"></i><br>
                                <%= date(page.date,'hh:mm') %>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="trm-card trm-label trm-label-light text-center"><i class="far fa-user trm-icon"></i><br>
                                <%= theme.user.name %>
                            </div>
                        </div>
                    </div>

                    <article class="trm-card trm-publication">
                        <%- page.content %>
                    </article>

                    <!-- blog -->
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- title -->
                            <h5 class="trm-mb-40 trm-title-with-divider">
                                <%- __('title.other_articles') %>
                                <span data-number="02"></span>
                            </h5>
                        </div>
                        <% if(page.prev){ %>
                            <%- partial('./_partial/post-card',{ post: page.prev }) %>
                        <%}%>
                        <% if(page.next){ %>
                            <%- partial('./_partial/post-card',{ post: page.next }) %>
                        <%}%>
                    </div>
                    <!-- blog end -->

                    <%- partial('./_partial/comment',{ titleHide: false }) %>

                    <div class="trm-divider trm-mb-40"></div>

                    <!-- footer -->
                    <%- partial('./_partial/footer') %>
                    <!-- footer end -->
                </div>
                <!-- content end -->
            </div>
        </div>
    </div>
</div>

<% if(is_post()){ %>
    <% if(theme.is_toc){ %>
      <div id="post-toc" data-scroll data-scroll-repeat data-scroll-sticky data-scroll-target="#content" class="post-toc single">
          <%- toc(page.content) %>
      </div>
    <% } %>
  <% } %>
  