<% if(theme.comment && theme.comment.enable) {%> 
    <% if(theme.comment.bComments && theme.comment.bComments.env  && page.hash){ %>
        <!-- bComments -->
        <% if(titleHide){ %>
            <div class="trm-card trm-p-10 trm-scroll-animation comment-container" data-scroll data-scroll-offset="50">
                <com-comment env='<%- theme.comment.bComments.env %>' hash='<%- page.hash %>'></com-comment>
            </div>
        <% } else { %>
            <div class="row trm-scroll-animation comment-container" data-scroll data-scroll-offset="50">
                <div class="col-lg-12">
                    <h5 class="trm-mb-40 trm-title-with-divider">
                        <%-__('title.comment')%>
                        <span data-number="03"></span>
                    </h5>
                </div>
                <div class="col-lg-12">
                    <div class="trm-card trm-p-10">
                        <com-comment env='<%- theme.comment.bComments.env %>' hash='<%- page.hash %>'></com-comment>
                    </div>
                </div>
            </div>
        <% } %>
    <% } else if (theme.comment.twikoo && theme.comment.twikoo.envId){ %>
        <!-- twikoo -->
        <% if(titleHide){ %>
            <div class="trm-card trm-p-10 trm-scroll-animation comment-container" data-scroll data-scroll-offset="50">
                <div id="tcomment"></div>
            </div>
        <% } else { %>
            <div class="row trm-scroll-animation comment-container" data-scroll data-scroll-offset="50">
                <div class="col-lg-12">
                    <h5 class="trm-mb-40 trm-title-with-divider">
                        <%-__('title.comment')%>
                        <span data-number="03"></span>
                    </h5>
                </div>
                <div class="col-lg-12">
                    <div class="trm-card trm-p-10">
                        <div id="tcomment"></div>
                    </div>
                </div>
            </div>
        <% } %>
    <% } %>
<% } %>