<div class="trm-content-start">

    <!-- banner -->
    <% let banner = page.banner || {}; %>
    <%- partial('./_partial/banner',  {
        ...theme.banner.default,
        bannerText: 'NEWS LETTER',
        ...banner,
        bannerTitle: page.title
    }) %>
    <!-- banner end -->

    <div class="container">
        <div class="row">
            <% if(!page.single_column) { %>
            <div class="col-lg-4 hidden-sm">
                <!-- main card -->
                <%- partial('./_partial/sidebar/index') %>
                <!-- main card end -->
            </div>
            <% } %>
            <div class="<%- !page.single_column ? 'col-lg-8':'col-lg-12' %>">
                <!-- content -->
                <div class="trm-content" id="trm-content">
                    <div data-scroll data-scroll-repeat data-scroll-offset="500" id="about-triger"></div>
                    
                    <%- partial('./_partial/post/post-info') %>
                    <%- partial('./_partial/post/post-content') %>
                    <%- partial('./_partial/post/post-next-prev') %>
                    <%- partial('./_widget/comment',{ titleHide: false }) %>

                    <div class="trm-divider trm-mb-40"></div>

                    <!-- footer -->
                    <%- partial('./_partial/footer') %>
                    <!-- footer end -->
                </div>
                <!-- content end -->
            </div>
        </div>
    </div>
</div>