<div class="trm-content-start">

    <!-- banner -->
    <% let banner = page.banner || {}; %>
    <%- partial('./_partial/banner',  {
        ...theme.banner.default,
        bannerTitle: page.title,
        ...banner
    }) %>
    <!-- banner end -->

    <div class="container">
        <div class="row">
            <% if(!page.single_column) { %>
                <div class="col-lg-4 hidden-sm">
                    <!-- main card -->
                    <%- partial('./_partial/sidebar/index') %>
                    <!-- main card end -->
                </div>
            <% } %>
            <div class="<%- !page.single_column ? 'col-lg-8':'col-lg-12' %>">

                <!-- content -->
                <div class="trm-content" id="trm-content">
                    <div data-scroll data-scroll-repeat data-scroll-offset="500" id="about-triger"></div>

                    <div class="row trm-mb-40 trm-scroll-animation" data-scroll data-scroll-offset="40">
                        <div class="col-lg-12">
                            <blockquote>
                                <%- page.title %>
                            </blockquote>
                        </div>
                    </div>

                    <% if(Array.isArray(theme.projects)){ %>
                        <% theme.projects.forEach((item,index)=>{ %>
                            <div class="row">
                                <div class="col-lg-12">
                                  <h5 class="trm-mb-40 trm-title-with-divider"><%- item.title %><span  data-number="<%- index+1 %>"></span></h5>
                                </div>
                                <% item.children.forEach((project,index)=>{ %>
                                    <div class="<%- !page.single_column ? 'col-lg-6':'col-lg-4' %>">
                                        <div class="trm-project-card trm-scroll-animation trm-active-el" data-scroll="" data-scroll-offset="40">
                                            <div class="trm-project-content">
                                                <h6 class="trm-mb-20"><%- project.name %></h6>
                                                <div class="trm-mb-20 trm-project-desc"><%- project.desc %></div>
                                                <a target="_parent" href="<%- project.url %>" class="trm-label trm-label-color">Github<i class="fas fa-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                <%})%>
                              </div>
                        <%})%>
                    <% } %>

                    <div class="trm-divider trm-mb-40"></div>

                    <!-- footer -->
                    <%- partial('./_partial/footer') %>
                    <!-- footer end -->

                </div>
                <!-- content end -->

            </div>
        </div>
    </div>
</div>