<div class="trm-content-start">
    <!-- banner -->
    <%- banner %>
    <!-- banner end -->
    <div class="container">
        <div class="row">
            <% if(!page.single_column) { %>
                <div id="page-sidebar" class="col-lg-4 hidden-sm">
                    <!-- main card -->
                    <%- partial(theme.layout.sidebar) %>
                    <!-- main card end -->
                </div>
            <% } %>
            <div id="page-content" class="<%- !page.single_column ? 'col-lg-8':'col-lg-12' %>">
                <div class="trm-content" id="trm-content">
                    <div data-rellax data-rellax-repeat data-rellax-offset="500" id="about-triger"></div>

                    <%- content %>

                    <div class="trm-divider footer-divider"></div>

                    <!-- footer -->
                    <%- partial(theme.layout.footer) %>
                    <!-- footer end -->

                </div>
            </div>
        </div>
    </div>
</div>